section.contact {
    background-color: var(--primary-color);
    margin-top: 2rem;
    padding-top: 4rem;
}

textarea {
    width: 100%;
}

.contact h2,
.contact dd,
.contact dt,
.contact a {
    color: white;
    opacity: 0.9;
}
.contact__content {
    z-index: 10;
    position: relative;
}

.contact__container {
    grid-template-columns: 4fr 5fr 1fr;
    gap: 1.875rem;
    padding-top: 1.25rem;
}

.contact .section__title {
    font-family: var(--mono-font);
}

.contact__list {
    margin-bottom: 3.25rem;
}

.contact__list dt {
    float: left;
    /* font-weight: var(--bold); */
    text-transform: uppercase;
}

.contact__list dd {
    padding-left: 5rem;
    margin-bottom: 0.94rem;
}

.contact__socials li {
    margin-bottom: 0.75rem;
}

.contact__socials-link {
    font-family: var(--roboto-font);
}

.contact__socials-link i {
    font-size: 1.5rem;
}

.contact__form {
    position: relative;
}

.contact__form-title {
    color: white;
    opacity: 0.9;
}

.contact__form i {
    font-size: 1.3rem;
}

.contact__button {
    background-color: white;
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 100rem;
    color: var(--primary-color);
    font-weight: bold;
    /* margin: 2rem 0 3rem 0; */
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 13rem;
    transition: 0.3s;
}

.contact__button:hover {
    background-color: rgba(255, 255, 255, 0.911);
}

.contact__form-title {
    padding-bottom: 1rem;
}

.contact__input-div {
    padding-bottom: 1rem;
}

.contact__input-div > input {
    width: 100%;
}

.contact__input-div > input,
.contact__input-div > textarea {
    border: 2px solid white;
    padding: 0.5rem 0.8rem;
    border-radius: 0.3rem;
    opacity: 0.9;
}

.color-light {
    opacity: 0;
}

.color-dark {
    opacity: 0.9;
}

#contact-message {
    transition: 0.5s;
    color: white;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: flex-end;
}

.contact__button i {
    justify-self: self-end;
}

p.footer__copy {
    padding: 0 2rem 1rem 2rem;
    background-color: var(--primary-color);
    color: rgba(255, 255, 255, 0.274);
    text-align: right;
}

@media (max-width: 1199.98px) {
    .contact__container {
        grid-template-columns: 3fr 5fr 0fr;
    }
}

@media (max-width: 941px) {
    .contact__container {
        grid-template-columns: 1fr;
    }
}
