.container {
    max-width: 1140px;
    margin: 0 auto;
}

.grid {
    display: grid;
}

.section {
    padding: 6rem 2rem 0 2rem;
}

.section__title {
    font-size: var(--fs-h2);
    line-height: 1.17rem;
    font-weight: var(--medium);
    margin-bottom: 1.8rem;
    color: var(--primary-color);
}

.text-base {
    font-size: var(--fs-base);
    line-height: 24px;
    opacity: 0.8;
    letter-spacing: normal;
    word-spacing: 0px;
}

.text-sm {
    font-size: var(--fs-sm);
    line-height: 1.2rem;
}

.button {
    background-color: var(--primary-color);
    display: inline-block;
    color: white;
    font-size: var(--fs-sm);
    letter-spacing: 0.05rem;
    padding: 0.3rem 0.8rem;
    border-radius: 100rem;
    border: 2px solid var(--primary-color);
    transition: 0.3s;
}

.buttonSq {
    border: none;
    background-color: var(--primary-color);
    display: inline-block;
    color: white;
    font-size: var(--fs-sm);
    letter-spacing: 0.05rem;
    padding: 0.2rem 0.4rem 0.1rem 0.4rem;
    border-radius: 0.2rem;
    transition: 0.3s;
}

.buttonSq > span {
    font-size: var(--fs-sm);
    line-height: 1.2rem;
}

.button > span {
    font-size: var(--fs-sm);
}

.button:hover {
    box-shadow: var(--btnShadow);
}

.buttonSq:hover {
    box-shadow: var(--btnShadow);
}

a.button > i {
    font-size: 1rem;
}
