/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Calistoga&display=swap');

/* CSS Variables */
:root {
    --header-height: 3.5rem;

    /*=========Colors============*/
    --primary-color: #1f4958;
    --linear-gradient: linear-gradient(
        90deg,
        #0d2430 0%,
        #073546 37%,
        hsla(197, 23%, 39%, 0.85) 100%
    );
    --bg-color: #fff;
    --bg-color-card: #f5f6f7;

    /*========Fonts and Typography==========*/
    --roboto-font: 'Roboto', sans-serif;
    --mono-font: 'Roboto Mono', monospace;
    --blackOps-font: 'Black Ops One', 'Roboto Mono', monospace;
    --fs-h1: 2.6rem;
    --fs-h2: 1.8rem;
    --fs-base: 16px;
    --fs-lg: 1.1rem;
    --fs-sm: 0.8rem;

    /*========Font Weight==========*/
    --medium: 500;
    --semibold: 600;
    --bold: 700;
    /*========Shadow==========*/
    --shadow: #0d24301e 0px 2px 8px 0px;
    --btnShadow: rgba(31, 73, 88, 0.6) 0px 1px 4px;
}

/*======== Custom Scroll Bar ==========*/

/* width */
::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #27272715;
    display: none;
}

::-webkit-scrollbar-track:horizontal {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(31, 73, 88);
}

::-webkit-scrollbar-thumb:horizontal {
    background: rgba(31, 73, 88, 0.1);
}

::-webkit-scrollbar-thumb:horizontal:hover {
    background: rgba(31, 73, 88, 0.1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

/*======== Base Level Code ==========*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scrollbar-color: var(--primary-color) white;
    scrollbar-width: thin;
}

body,
button,
input,
textarea,
span {
    font-family: var(--roboto-font);
    font-size: var(--fs-base);
}

h1,
h2,
h3,
h4 {
    font-family: var(--mono-font);
    font-weight: var(--bold);
    color: var(--primary-color);
}

p {
    color: var(--primary-color);
}

ul {
    text-decoration: none;
    list-style-type: none;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

textarea,
input {
    /* background: none; */
    border: none;
    outline: none;
    color: var(--primary-color);
}

a {
    text-decoration: none;
}
