.aboutme__details {
    margin-bottom: 1.3rem;
    color: var(--primary-color);
}

#resume_btn {
    background-color: white;
    color: var(--primary-color);
    font-weight: var(--semibold);
    border: 2px solid var(--primary-color);
}

#resume_btn:hover {
    background-color: rgba(31, 73, 88, 0.1);
}
