.journey__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3.57rem;
    padding-top: 1rem;
}

.journey__path {
    margin-bottom: 5rem;
}

.journey__title {
    color: white;
    letter-spacing: 0.2em;
    margin-bottom: 2rem;
    background-color: var(--primary-color);
    width: fit-content;
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
    text-align: center;
}

.journey__item {
    border-left: 3px solid var(--primary-color);
    padding-left: 1.6rem;
    position: relative;
}

.journey__item:not(:last-child) {
    padding-bottom: 3rem;
}

.journey__item::before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
    position: absolute;
    left: -0.6rem;
    background-color: var(--bg-color);
}

.journey__subtitle {
    color: var(--primary-color);
    margin-bottom: 0.36em;
    font-family: var(--roboto-font);
    margin-bottom: 0.6rem;
    border-bottom: 2px solid #1f495817;
    width: fit-content;
    font-size: var(--fs-lg);
    text-overflow: ellipsis;
}

.journey__data {
    color: var(--primary-color);
    font-size: var(--fs-base);
    line-height: 1.35rem;
    opacity: 0.9;
    margin-bottom: 0.15rem;
}

.organization {
    font-weight: bold;
    opacity: 0.85;
}

.journey__data i {
    /* color: red; */
    color: var(--primary-color);
    opacity: 0.95;
}

@media (max-width: 1199.98px) {
    .journey__container {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 3.57rem;
        padding-top: 1rem;
    }
}
