.container {
    max-width: 1140px;
    margin: 0 auto;
}

.grid {
    display: grid;
}

.section {
    padding-top: 5rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.section__title {
    font-size: var(--fs-h2);
    line-height: 1.17rem;
    font-weight: var(--medium);
    margin-bottom: 1.8rem;
    color: var(--primary-color);
}

.text-base {
    font-size: var(--fs-base);
    line-height: 24px;
    opacity: 0.9;
    letter-spacing: normal;
    word-spacing: 0px;
}

.text-sm {
    font-size: var(--fs-sm);
    line-height: 1.2rem;
}

.button {
    background-color: var(--primary-color);
    display: inline-block;
    color: white;
    letter-spacing: 0.05rem;
    padding: 0.3rem 0.8rem;
    border-radius: 100rem;
    transition: 0.3s;
    border: 2px solid var(--primary-color);
}

a.button > i {
    font-size: 1rem;
}
