.blogs__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.875rem;
    color: var(--primary-color);
    padding-top: 1rem;
}

.blogs__item {
    padding: 1.5rem;
    box-shadow: var(--shadow);
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: var(--bg-color-card);
}

.blog__img {
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    width: 100%;
    object-fit: cover;
}
.blog__title {
    margin-bottom: 0.6rem;
    font-size: var(--fs-lg);
}

.blog__detail {
    pointer-events: none;
    margin-bottom: 0.6rem;
}

.blog__item__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.all-blogs {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 915.98px) {
    .blogs__container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 500px) {
    .blogs__item {
        padding: 0;
        padding-bottom: 1.5rem;
    }

    .blog__detail {
        padding: 0 1.5rem;
    }

    .blog__title {
        padding-left: 1.5rem;
    }

    .blog__item__bottom {
        padding: 0 1.5rem;
        padding-top: 1rem;
    }

    .blog__img {
        border-radius: 0.3rem 0.3rem 0rem 0rem;
    }
}
