.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 0 2rem;
    transition: 0.5s;
}

.nav {
    height: calc(var(--header-height) + 0.875rem);
    /* padding: 1.5rem 0 1.5rem 0; */
    display: flex;
    align-items: flex-end;
}

.nav__list {
    display: flex;
    column-gap: 3.25rem;
}

.nav__close,
.nav__toggle {
    display: none;
}

.nav__link {
    color: #fff;
    font-size: var(--fs-sm);
    font-weight: var(--bold);
    font-family: var(--mono-font);
    text-transform: uppercase;
    transition: 0.3s;
    position: relative;
    letter-spacing: 0.06rem;
}

.nav__link:hover {
    opacity: 0.7;
}

.nav__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -0.5rem;
    width: 7px;
    height: 2px;
    background-color: #fff;
    opacity: 0;
    transition: 0.3s;
}

.nav__link:hover::after {
    opacity: 1;
}

.active-link {
    opacity: 0.7;
}

.active-link::after {
    opacity: 1;
}

.scroll-header {
    position: fixed;
    background-color: var(--primary-color);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.scroll-header .nav {
    height: unset;
    padding: 1.5rem 0 1.5rem 0;
}

@media (max-width: 800px) {
    .header {
        display: none;
    }
}
