.services__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
    opacity: 0.95;
    color: var(--primary-color);
    padding-top: 1rem;
}

.services__item {
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    /* text-align: center; */
    box-shadow: #0d24301e 0px 2px 8px 0px;
    border-radius: 0.5rem;
    cursor: pointer;
}

.services__title {
    margin-bottom: 0.8em;
}

.icon__box {
    border: 1px solid var(--primary-color);
    border-style: dashed;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    margin-bottom: 1.25rem;
    position: relative;
    display: flex;
}

.services__icon {
    width: 40px;
    margin: auto;
}


.services__dot {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: service-dot 2s linear infinite;
    animation-play-state: paused;
}
.services__detail {
    font-size: var(--fs-base);
    opacity: 0.65;
}

.services__item:hover .services__dot {
    animation-play-state: running;
}

@keyframes service-dot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1turn);
    }
}

.dot {
    width: 13px;
    height: 13px;
    background-color: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 12px;
}

