.services__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
    color: var(--primary-color);
    padding-top: 1rem;
}

.services__item {
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    box-shadow: var(--shadow);
    border-radius: 0.2rem;
    cursor: pointer;
    background-color: #f5f6f7;
}

.services__title {
    margin-bottom: 0.8em;
    color: var(--primary-color);
    pointer-events: none;
}

.icon__box {
    border: 2px solid var(--primary-color);
    border-style: dashed;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    margin-bottom: 1.25rem;
    position: relative;
    display: flex;
}

.services__icon {
    width: 40px;
    margin: auto;
}

.services__dot {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: service-dot 2s linear infinite;
    animation-play-state: paused;
}
.services__detail {
    font-size: 0.95rem;
    opacity: 0.8;
    pointer-events: none;
}

.services__item:hover .services__dot {
    animation-play-state: running;
}

@keyframes service-dot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1turn);
    }
}

.dot {
    width: 13px;
    height: 13px;
    background-color: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 10px;
}
